.recruit-intro-container {
  width: 60vw;
  padding-top: 1.5rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recruit-intro-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.recruit-intro-body {
  color: #bbbbbb;
  font-size: 1.5rem;
  text-align: left;
  max-width: 100%;
  width: 100%;
  line-height: 1.5;
}
