.section-title-block {
  background-size: cover;
  background-position: center;
  padding: 1em 1rem;
  position: relative;
  z-index: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;

  @media (max-width: 1024px) { /* Tablet */
    padding: 2em 1rem;
    font-size: 1.3em;
  }

  @media (max-width: 768px) { /* Mobile */
    padding: 2em 1rem;
    font-size: 1.1em;
  }

  @media (max-width: 479px) { /* Small Mobile */
    padding: 2em 1rem;
    font-size: 1em;
  }
}

.section-title-content {
  text-align: left;
  max-width: 600px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  @media (max-width: 479px) {
    max-width: 100%;
  }
}

.section-title-content h1 {
  color: white;
  margin: 0;

  @media (max-width: 479px) {
    font-size: 1.4em;
  }
}

.section-title-content h3 {
  color: rgb(190, 190, 190);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  margin: 0.5em 0;

  @media (max-width: 479px) {
    font-size: 0.9em;
  }
}

.section-title-content p {
  color: rgb(190, 190, 190);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  margin: 0.5em 0;

  @media (max-width: 479px) {
    font-size: 0.9em;
  }
}

.section-title-divider {
  background-color: orange;
  height: 3px;
  width: 20%;
  margin-top: 1em;
}
