.sitename-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  height: 100px;
  background-color: transparent;
  margin: 0;
  overflow: hidden;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.sitename-text {
  display: flex;
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  width: max-content;
  margin-left: -3rem;
  font-style: italic;
}

.space {
  color: black;
  margin-right: 1rem;
}

.cubics {
  color: transparent;
  -webkit-text-stroke: 2px black;
  margin-right: 1rem;
}

.slash {
  color: black;
  margin: 0 1rem;
  font-size: 10rem;
}

.sitename-banner .sitename-text {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.sitename-banner .sitename-text:after {
  content: 'Space Cubics / Space Cubics / Space Cubics /';
  visibility: hidden;
}
