.section {
  background-color: transparent;
  color: white;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0 auto -250px auto;
  max-width: 60vw; 
  position: relative;
  z-index: 2;
  padding-top: 4rem;
  justify-content: center;
}

.column {
  flex: 1;
}

.two-card {
  height: 400px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  color: white;
}

.card-content {
  color: white;
}

.card-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em; 
  margin: 0;
}

.card-subheader {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em; 
  margin: 0.5rem 0;
}

.divider-bar {
  width: 60px;
  height: 4px;
  background-color: #f97316; 
  border-radius: 2px;
  margin-top: 0.5rem;
}

.card-footer-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em; 
  line-height: 1.8;
  margin-top: auto;
  margin-bottom: 90px;
}

.card-footer-text p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em; 
  text-align: center; 
}

.btn-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-btn {
  width: 50px;
  height: 50px;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.circle-btn:hover {
  transform: scale(1.1);
}

.circle-btn::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 18px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.columns .column:nth-child(2) .two-card {
  outline: 3px solid white;
}
