{%- if paginator.pages -%}
    {%- set pages = paginator.pages -%}
{%- elif section.pages -%}
    {%- set pages = section.pages -%}
{%- else -%}
    {%- set pages = term.pages -%}
{%- endif -%}

<div id="article-list">
	{%- for page in pages %}
		<article {% if article_type %}class="{{ article_type }}"{% endif %} {% if blurnail %}style="--blurnail: url('{{ blurnail.url }}')"{% endif %}>
			<a href="{{ page.permalink | safe }}"></a>
			<h3>{{ page.title }}</h3>
			{%- if page.description %}
				{{ page.description | markdown | safe }}
			{%- endif %}
			{%- if page.date -%}
				<div class="details">
					<small>
						<time datetime="{{ page.date | date(format='%+') }}" pubdate>
							{{- page.date | date(format=date_format, locale=date_locale) -}}
						</time>
					</small>
				</div>
			{%- endif -%}
		</article>
	{%- endfor %}
</div>
