<div class="ls-container">
  {%- if lang == "en" -%}
    {%- set target_lang = "ja" -%}
  {%- else -%}
    {%- set target_lang = "en" -%}
  {%- endif -%}

  {%- set_global switch_url = "" -%}

  {%- if page is defined -%}
    {%- for tr in page.translations -%}
      {%- if tr.lang == target_lang -%}
        {%- set_global switch_url = tr.permalink -%}
      {%- endif -%}
    {%- endfor -%}
  {%- elif section is defined -%}
    {%- for tr in section.translations -%}
      {%- if tr.lang == target_lang -%}
        {%- set_global switch_url = tr.permalink -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if switch_url != "" -%}
    <a class="ls-trigger current-lang" href="{{ switch_url }}"
       title="Switch to {{ target_lang | upper }}">
  {%- else -%}
    <span class="ls-trigger current-lang">
  {%- endif -%}

  {%- if lang == "ja" -%}
    <span class="active-lang">JA</span>/<span class="inactive-lang">EN</span>
  {%- else -%}
    <span class="inactive-lang">JA</span>/<span class="active-lang">EN</span>
  {%- endif -%}

  {%- if switch_url != "" -%}
    </a>
  {%- else -%}
    </span>
  {%- endif -%}
</div>
