<li id="language-switcher" class="ls-container">
	{%- set current_lang = lang -%}
	{%- if current_lang == "ja" -%}
		{%- set target_lang = "en" -%}
		{%- set button_text = "JA/EN" -%}
	{%- else -%}
		{%- set target_lang = "ja" -%}
		{%- set button_text = "JA/EN" -%}
	{%- endif -%}
	
	{%- if target_lang == config.default_language -%}
		{#- If switching to default language, link to root path -#}
		<a class="ls-trigger current-lang" href="{{ current_url | replace(from='/' ~ current_lang ~ '/', to = '/') }}" title="Switch to {{ target_lang | upper }}">
			{{ button_text }}
		</a>
	{%- elif current_lang == config.default_language -%}
		{#- If current is default, append target language to base URL -#}
		<a class="ls-trigger current-lang" href="{{ config.base_url }}/{{ target_lang }}{{ current_path | default(value="/") | safe }}" title="Switch to {{ target_lang | upper }}">
			{{ button_text }}
		</a>
	{%- else -%}
		{#- Replace current language code with target language -#}
		<a class="ls-trigger current-lang" href="{{ current_url | replace(from='/' ~ current_lang ~ '/', to='/' ~ target_lang ~ '/') }}" title="Switch to {{ target_lang | upper }}">
			{{ button_text }}
		</a>
	{%- endif -%}
</li>
