{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

{%- if config.extra.nav.auto_hide %}
	<div id="handle"></div>
{%- endif %}
<header id="site-nav">
	<nav aria-label="Main navigation">

		<div class="nav-content">
			<div class="nav-header">
				<a id="home" href="{{ get_url(path='/', lang=lang) }}">
					<span class="company-logo-wrapper">
						<img class="company-logo" src="{{ get_url(path='logo_white.webp') }}" alt="Space Cubics" />
					</span>
				</a>

				<button class="hamburger" id="navToggle" aria-label="Toggle menu">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>

										<div class="nav-links-container">
				<div id="main-nav-list" class="main-navbar-list">
					{%- for link in config.extra.nav.links %}
						{%- if link.menu and link.menu | length > 0 -%}
							<div class="main-navbar-item">
								<details>
									<div class="nav-summary" tabindex="0">
										{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
									</div>
									<div class="dropdown-menu">
										{%- for sublink in link.menu -%}
											<div class="dropdown-item">
												<a class="main-navbar-link"
													href="{% if sublink.url is matching('https?://') %}{{ sublink.url }}{% else %}{{ get_url(path=sublink.url, lang=lang) }}{% endif %}"
													{% if sublink.url is matching('https?://') %}rel="{{ rel_attributes }}"{% endif %}
													tabindex="0"
												>
													{{- macros_translate::translate(key=sublink.name, default=sublink.name, language_strings=language_strings) -}}
												</a>
											</div>
										{%- endfor -%}
									</div>
								</details>
							</div>
						{%- elif link.url is matching('https?://') %}
							<div class="main-navbar-item">
								<a class="main-navbar-link" href="{{ link.url }}" rel="{{ rel_attributes }}" tabindex="0">
									{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
								</a>
							</div>
						{%- elif link.name == "Recruit" and config.languages | length > 0 %}
							<div class="main-navbar-item recruit-with-switcher">
								<div class="ls-nav-item-desktop">
									{%- include "partials/language_switcher.html" %}
								</div>
								<a class="main-navbar-link" href="{{ get_url(path=link.url, lang=lang) }}" tabindex="0">
									{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
								</a>
							</div>
						{%- else %}
							<div class="main-navbar-item">
								<a class="main-navbar-link" href="{{ get_url(path=link.url, lang=lang) }}" tabindex="0">
									{{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
								</a>
							</div>
						{%- endif %}
					{%- endfor %}

					{%- if config.extra.default_theme or config.extra.nav.show_theme_switcher %}
						<div id="contact" class="main-navbar-item">
							<a class="main-navbar-link" href="{{ get_url(path='contact', lang=lang) }}" tabindex="0">
								{{ macros_translate::translate(key="contact", default="Contact", language_strings=language_strings) }}
							</a>
						</div>
					{%- endif %}

					{%- if config.languages | length > 0 %}
						<div class="ls-nav-item-mobile">
							{%- include "partials/language_switcher.html" %}
						</div>
					{%- endif %}
				</div>
			</div>
		</div>
	</nav>
</header>
