{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

{%- if config.extra.nav.auto_hide %}
  <div id="handle"></div>
{%- endif %}
<header id="site-nav">
  <nav role="navigation" aria-label="Main navigation">

    <div class="nav-content">
      <div class="nav-header">
        <a id="home" href="{{ get_url(path='/', lang=lang) }}">
          <img class="company-logo" src="{{ get_url(path='logo_white.webp') }}" alt="Company Logo" />
        </a>

        <button class="hamburger" id="navToggle" aria-label="Toggle menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <ul id="main-nav-list">
        <li class="divider"></li>

        {%- for link in config.extra.nav.links %}
          {%- if link.menu and link.menu | length > 0 -%}
            <li>
              <details>
                <div class="nav-summary" tabindex="0">
                  {{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
                </div>
                <ul>
                  {%- for sublink in link.menu -%}
                    <li>
                      <a
                        href="{% if sublink.url is matching('https?://') %}{{ sublink.url }}{% else %}{{ get_url(path=sublink.url, lang=lang) }}{% endif %}"
                        rel="{% if sublink.url is matching('https?://') %}{{ rel_attributes }}{% endif %}"
                        {% if not sublink.url is matching('https?://') and current_url | default(value='/') | trim_end_matches(pat='/') | safe == get_url(path=sublink.url, lang=lang) | trim_end_matches(pat='/') | safe %}
                        {% endif %}
                      >
                        {{- macros_translate::translate(key=sublink.name, default=sublink.name, language_strings=language_strings) -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </details>
            </li>
          {%- elif link.url is matching('https?://') %}
            <li>
              <a href="{{ link.url }}" rel="{{ rel_attributes }}" class="external">
                {{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
              </a>
            </li>
          {%- else %}
            <li>
              <a href="{{ get_url(path=link.url, lang=lang) }}">
                {{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
              </a>
            </li>
          {%- endif %}
        {%- endfor %}

        {%- if config.languages | length > 0 %}
          {%- include "partials/language_switcher.html" %}
        {%- endif %}

        {%- if config.extra.default_theme or config.extra.nav.show_theme_switcher %}
          <li id="contact">
            <a href="{{ get_url(path='contact', lang=lang) }}">
              {{ macros_translate::translate(key="contact", default="Contact", language_strings=language_strings) }}
            </a>
          </li>
        {%- endif %}
      </ul>
    </div>
  </nav>
</header>
