{% if page_name is matching(pat="_index([.]en)?[.]md$")  %}
{% set page = get_section(path=page_name, metadata_only=true) %}
{% else %}
{% set page = get_page(path=page_name, metadata_only=true) %}
{% endif %}

<div class="two-card right-card{% if bottom_card %} bottom-card"{% else %}" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/{{ page.extra.background_image }});"{% endif %}>
	<div class="card-content">
		<h2 class="card-header">{{ page.title }}</h2>
		<p class="card-subheader">{{ page.description }}</p>
		<div class="divider-bar"></div>
	</div>
	<div class="card-footer-text">
		{{ page.extra.card_body | markdown | safe }}
	</div>
	<div class="btn-container">
		<a href="{{ page.permalink }}" class="circle-btn" aria-label="{{ page.title }} link"></a>
	</div>
</div>
