{%- set suffix = config.title | safe -%}
{%- set separator = " - " -%}
{%- if current_path is defined -%}
{%- set is_home = current_path == "/" or current_path == "/en/" -%}
{%- else -%}
{%- set is_home = false -%}
{%- endif -%}

{%- set prefix = "" -%}
{%- if section is defined and section.title is defined %}
	{%- set prefix = section.title | str %}
{%- elif page is defined and page.title is defined %}
	{%- set prefix = page.title | str %}
{%- endif %}

{%- if is_home -%}
	{{- suffix -}}
{%- elif prefix != "" -%}
	{{- prefix ~ separator ~ suffix -}}
{%- else -%}
	{{- suffix -}}
{%- endif -%}
