{% set members = load_data(path=members, format="json") %}
{% set count = members | length %}

<div class="board-members">
	<div class="board-members-left">
		{% include "partials/segment_title.html" %}
	</div>

	<div class="board-members-right">
		<div class="board-members-grid">
			{% for member in members %}
			<div class="board-card">
				<div class="board-card__role">{{ member.expertise }}</div>
				<div class="board-card__name-row">
					<span class="board-card__name-main">{{ member.name_main }}</span>
					<span class="board-card__name-sub">{{ member.name_sub }}</span>
				</div>
				<div class="board-card__bio">{{ member.bio }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
