<section class="contact-form">
  <h1>Contact Us</h1>
  <form id="contactForm">
    <p>
      <label>
        Your Name:
        <input type="text" name="name" required />
      </label>
    </p>
    <p>
      <label>
        Your Email:
        <input type="email" name="email" required />
      </label>
    </p>
    <p>
      <label>
        Your Role:
        <textarea name="role" required></textarea>
        </select>
      </label>
    </p>
    <p>
      <label>
        Message:
        <textarea name="message" required></textarea>
      </label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</section>
