{% set kv_list = load_data(path=data, format="json") %}

<div class="about-company-block">
	<div class="about-company-left">
		{% include "partials/segment_title.html" %}
	</div>

	<div class="about-company-right">
		{% for key, value in kv_list %}
		<div class="about-company-right-line">
			<p>
				<span class="about-company-bold">{{ key }}</span>
				<span class="about-company-gap">{{ value | safe}}</span>
			</p>
			<p></p>
			<div class="about-company-divider-bar"></div>
		</div>
		{% endfor %}
	</div>
</div>
