<div class="partner">
  <div class="partner__logo">
    <img src="{{ get_url(path=logo) }}" alt="{{ alt | default(value=name) }}">
  </div>

  <div class="partner__content">
    <h3 class="partner__name">{{ name }}</h3>
    <div class="partner__desc">{{ body | markdown | safe }}</div>

    {% if link %}
    <a href="{{ link }}" class="external-link">
      <span class="external-link__pair">
        <span class="external-link__label">More</span>
        <img src="/cil-external-link.svg" class="external-link__icon" alt=""/>
      </span>
    </a>
    {% endif %}
  </div>
</div>
