<div class="quick-jump">
  <div class="quick-jump-item">
    <div class="title">{{ title1 }}</div>
    <button
      class="jump-button"
      type="button"
      onclick="window.scrollTo({ top: {{ scroll_y1 }}, behavior: 'smooth' })"
      aria-label="Jump to {{ title1 }}"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M6 9l6 6 6-6" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <div class="quick-jump-item">
    <div class="title">{{ title2 }}</div>
    <button
      class="jump-button"
      type="button"
      onclick="window.scrollTo({ top: {{ scroll_y2 }}, behavior: 'smooth' })"
      aria-label="Jump to {{ title2 }}"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M6 9l6 6 6-6" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <div class="quick-jump-item">
    <div class="title">{{ title3 }}</div>
    <button
      class="jump-button"
      type="button"
      onclick="window.scrollTo({ top: {{ scroll_y3 }}, behavior: 'smooth' })"
      aria-label="Jump to {{ title3 }}"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M6 9l6 6 6-6" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <div class="quick-jump-item">
    <div class="title">{{ title4 }}</div>
    <button
      class="jump-button"
      type="button"
      onclick="window.scrollTo({ top: {{ scroll_y4 }}, behavior: 'smooth' })"
      aria-label="Jump to {{ title4 }}"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M6 9l6 6 6-6" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <div class="quick-jump-item">
    <div class="title">{{ title5 }}</div>
    <button
      class="jump-button"
      type="button"
      onclick="window.scrollTo({ top: {{ scroll_y5 }}, behavior: 'smooth' })"
      aria-label="Jump to {{ title5 }}"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M6 9l6 6 6-6" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
</div>



<script src="/js/quick_jump.js" defer></script>
