<div class="splash">
    <!-- Left-bottom scroll message -->
    <div class="scroll-hint">
      <span>scroll down</span>
      <div class="arrow">&#8595;</div>
    </div>
  
    <!-- Main Splash Content -->
    <div class="splash-content">
      <!-- Small Elements Section -->
      <div class="small-elements">
        <div class="small-element">
          <p class="gray-text">Welcome to the moment of connecting with the</p>
          <p class="black-text">UNIVERSE</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Make the impossible</p>
          <p class="black-text">POSSIBLE</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">To drink beer on the</p>
          <p class="black-text">MOON</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Our mission is computers in</p>
          <p class="black-text">SPACE</p>
          <div class="divider"></div>
        </div>
      </div>
  
      <!-- Large Branding Text -->
      <div class="big-text">
        <span>SPACE</span>
        <span>CUBICS</span>
      </div>
    </div>
  </div>
  