<div class="splash">
	<div class="splash-image">
		<div class="vertical-text">
			<span>SPACECUBICS.COM</span>
		</div>
		<img alt="" src="/top_fv.png" />
	</div>

	<div class="splash-footer">
		<div class="social-icons">
			<span class="social-label">SOCIAL</span>
			{%- if config.extra.footer.socials %}
				{%- for link in config.extra.footer.socials %}
					<a href="{{ link.url }}" target="_blank" rel="noopener" title="{{ link.name }}">
						<i class="icon" style='--icon: url("data:image/svg+xml,{{ link.icon }}")'></i>
					</a>
				{%- endfor %}
			{%- endif %}
		</div>
	</div>

	<div class="banner-image">
		<img alt="" src="/slide_typeface.png" />
	</div>
</div>
