<div class="hero-section" style="background-image: url('/{{ bg }}');">
  <div class="hero-text">
    <p>{{ body | safe }}</p>
    <h2>{{ title }}</h2>
    {% if link and link_text %}
      <a href="{{ link }}" class="hero-link">
        {{ link_text }}
      </a>
    {% endif %}
  </div>
  
  <div class="hero-image-container">
    {% if img_link %}
      <a href="{{ img_link }}">
        <img src="{{ img }}" alt="{{ alt | default(value='image') }}" />
      </a>
    {% else %}
      <img src="{{ img }}" alt="{{ alt | default(value='image') }}" />
    {% endif %}
  </div>
</div>
