{% import "macros/rel_attributes.html" as macros_rel_attributes %}
{% import "macros/translate.html" as macros_translate %}
{%- set language_strings = load_data(path="i18n/" ~ lang ~ ".toml", required=false) -%}
<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">


<!DOCTYPE html>
{% include "partials/head.html" %}

<body>
  {% block body %}
    {%- if config.extra.nav.links %}
      {% include "partials/nav.html" %}
    {%- endif %}

    <main id="main-content">
      {% block custom %}{% endblock custom %}

      {%- if page.extra.go_to_top or section.extra.go_to_top %}
        <div id="buttons-container">
          <a id="go-to-top"
             href="#top"
             title="{{ macros_translate::translate(key='go_to_top', default='Go to Top', language_strings=language_strings) }}">
            <i class="icon"></i>
          </a>
        </div>
      {%- endif %}

      {% block content %}{% endblock content %}
    </main>

    {% include "partials/footer.html" %}
  {% endblock body %}

  {% block scripts %}
    <script src="{{ get_url(path='js/nav-toggle.js') }}"></script>
    <script src="{{ get_url(path='js/nav-links.js') }}"></script>
  {% endblock scripts %}
</body>
</html>
