{%- set language_strings = load_data(path="i18n/" ~ lang ~ ".toml", required=false) -%}
{%- set date_format = <translate key="date_format" language_strings={language_strings} /> -%}

{%- set rel_attributes = ["noopener"] -%}
{%- if config.markdown.external_links_no_follow -%}
	{%- set rel_attributes = [...rel_attributes, "nofollow"] -%}
{%- endif -%}
{%- if config.markdown.external_links_no_referrer -%}
	{%- set rel_attributes = [...rel_attributes, "noreferrer"] -%}
{%- endif -%}
{%- set rel_attributes = rel_attributes | join(sep=" ") -%}


<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "partials/head.html" %}

<body>
	{% block body %}
		{%- if config.extra.nav.links %}
			{% include "partials/nav.html" %}
		{%- endif %}

		<main id="main-content">
			{% block custom %}{% endblock custom %}

			{%- if (page is defined and page.extra.go_to_top) or (section is defined and section.extra.go_to_top) %}
				<div id="buttons-container">
					<a id="go-to-top"
						href="#top"
						title="{{ <translate key='go_to_top' default='Go to Top' language_strings={language_strings} /> }}">
						<i class="icon"></i>
					</a>
				</div>
			{%- endif %}

			{% block content %}{% endblock content %}
		</main>

		{% block page_overlay %}{% endblock page_overlay %}

		{% include "partials/footer.html" %}
	{% endblock body %}

	{% include "partials/cookie_banner.html" %}

	{% block scripts %}{% endblock scripts %}

</body>
</html>
