{% extends "base.html" %}

{% block content %}
<section class="contact-form">
  <h1>Contact Us</h1>
  <form name="contact" netlify>
    <p>
      <label>
        Your Name:
        <input type="text" name="name" required />
      </label>
    </p>
    <p>
      <label>
        Your Email:
        <input type="email" name="email" required />
      </label>
    </p>
    <p>
      <label>
        Your Role:
        <select name="role[]" multiple required>
          <option value="leader">Leader</option>
          <option value="follower">Follower</option>
          <option value="other">Other</option>
        </select>
      </label>
    </p>
    <p>
      <label>
        Message:
        <textarea name="message" required></textarea>
      </label>
    </p>
    <p>
      <label>
        Upload File (Resume, etc.):
        <input type="file" name="file" />
      </label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</section>
{% endblock content %}
