{% extends "base.html" %}

{% block content %}
<div class="title-block section-title-block">
  <div class="title-content section-title-content">
    <h1>RECRUIT</h1>
    <div class="title-description">Open Position</div>
    <div class="title-divider section-title-divider"></div>
  </div>
</div>

<article class="job-post">
	<header class="job-post__header">
		<h2 class="job-post__title">{{ page.title }}</h2>
		{% if page.date %}
			<p class="job-post__date">
				<time datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format=date_format) }}</time>
			</p>
		{% endif %}
	</header>
	<div class="job-post__content">
		{{ page.content | safe }}
	</div>
</article>
{% endblock content %}
