{% extends "section.html" %}

{% block section_body %}

	<div class="news-list-parent">
		<div class="news-list">
			<div class="news-list-content">
				{% set all_news = paginator.pages %}
				{% set all_news = all_news | sort(attribute="permalink") | reverse %}
				{% set all_news = all_news | sort(attribute="date") | reverse %}
				{% include "partials/news_list_block.html" %}

				{% if paginator.number_pagers > 1 %}
				<div class="pagination">
					{% if paginator.previous %}
						<a href="{{ paginator.previous }}">&laquo; Previous</a>
					{% endif %}

					<span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>

					{% if paginator.next %}
						<a href="{{ paginator.next }}">Next &raquo;</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock section_body %}
