{% extends "base.html" %}

{% block content -%}
<div class="title-block section-title-block">
	<div class="title-content section-title-content">
		<h1>{{ section.title }}</h1>
		<div class="title-description">{{ section.description }}</div>
		<div class="title-divider section-title-divider"></div>
	</div>
</div>
{% if section.extra.background_image %}
<div class="banner" style="background-image: url('/{{ section.extra.background_image }}');">
	<div class="banner-image-container">
	</div>
</div>
{% endif %}

{% block section_body %}
{{- section.content | safe -}}
{% endblock section_body %}

{%- if section.extra.prefooter_cards -%}
<div class="section">
	<div class="card-grid">
		{% set cards = section.extra.prefooter_cards %}
		{% set total = cards | length %}
		{%- for card in section.extra.prefooter_cards -%}
		{%- set page_name = card -%}
		{%- if loop.last and (total % 2) != 0 %}
		{% set bottom_card = True %}
		{%- endif -%}
		{% include "partials/prefooter_card.html" %}
		{%- endfor -%}
	</div>
</div>
{%- endif -%}

{%- endblock content %}
