{% component docs_resources() -%}
{% set all_lines = body | trim | split(pat="\n") %}
{% set html -%}

<div class="docs-resources-container">
	{% for line in all_lines %}
		{% if line | trim != "" %}
			{% set parts = line | split(pat="|") %}
			<div class="docs-resource-row">
				<div class="docs-resource-header">
					<div class="docs-resource-title">{{ parts[0] | trim }}</div>
					{% if parts | length > 2 %}
						<a href="{{ parts[2] | trim }}" target="_blank" rel="noopener noreferrer">
								<img src="/cil-external-link.svg" class="external-link__icon" alt="External link" width="16" height="16" />
						</a>
					{% endif %}
				</div>
				{% if parts | length > 1 %}
					<div class="docs-resource-description">{{ parts[1] | trim }}</div>
				{% endif %}
				<hr class="docs-resource-divider" />
			</div>
		{% endif %}
	{% endfor %}
</div>
{%- endset %}
{{- html | replace(from="\n", to=" ") | safe -}}
{%- endcomponent docs_resources %}
