{% component hero_element(title: string, bg: string, subtitle: string, slogan: string) -%}
{% set html -%}
<div class="hero-section"
	style="background-image:
		{% if bg == 'about.jpg' %}
			linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		{% endif %}
		url('/{{ bg }}');">
	<div class="main-content">
		<div class="title-block section-title-block">
			<div class="title-content section-title-content">
				<h1>{{ title }}</h1>
				<div class="title-description">{{ subtitle }}</div>
				<p>{{ slogan }}</p>
				<div class="title-divider section-title-divider"></div>
			</div>
		</div>
	</div>
	<div class="hero-content-wrapper">
		{{ body | safe }}
	</div>

</div>
{%- endset %}
{{- html | replace(from="\n", to=" ") | safe -}}
{%- endcomponent hero_element %}
