{% component price(price_title: string, price_number: string, price_unit: string, price_note: string) -%}
{% set html -%}
<div class="price">
	<div class="price__container">
		<div class="price__left">
			<div class="price__title-row">
				<div class="price__title">{{ price_title }}</div>
				<div class="price__amount">
					<span class="price__amount-number">{{ price_number }}</span>
					<span class="price__amount-unit">{{ price_unit }}</span>
				</div>
			</div>
			<div class="price__note-section">
				<div class="price__note">{{ price_note }}</div>
			</div>
			<div class="sc-list__divider"></div>
		</div>
		<div class="price__right">
			{{ body | markdown | safe }}
		</div>
	</div>
</div>
{%- endset %}
{{- html | replace(from="\n", to=" ") | safe -}}
{%- endcomponent price %}
