{% component product_overview(img: string, alt: string, title: string, subtitle: string) -%}
{% set html -%}
<div class="product-display" style="padding: 0 0; display: flex; align-items: center;">
	<div class="product-info">
		<div class="product-text-block">
				<div class="product-subtitle">{{ subtitle }}</div>
				<div class="product-title">{{ title }}</div>
			<div class="product-subtitle">
				{{ body | markdown | safe }}
			</div>
		</div>
	</div>
		<div class="product-image-container">
				<img src="/{{ img }}" alt="{{ alt | default(value=title) }}"/>
		</div>
</div>
{%- endset %}
{{- html | replace(from="\n", to=" ") | safe -}}
{%- endcomponent product_overview %}
