{% component spec_sheet() -%}
{% set all_lines = body | trim | split(pat="\n") %}
{% set html -%}

<div class="spec-container">
  {% for line in all_lines %}
    {% set parts = line | split(pat="|") %}
    <div class="spec-row">
      <div class="spec-left">{{ parts[0] | trim }}</div>
      <div class="spec-right">
        {% if parts | length > 1 %}
          {{ parts[1] | trim }}
        {% else %}
          {{ "" }}
        {% endif %}
      </div>
    </div>
    <hr class="spec-row-divider" />
  {% endfor %}
</div>
{%- endset %}
{{- html | replace(from="\n", to=" ") | safe -}}
{%- endcomponent spec_sheet %}
