{% component threecard(left_card: string, middle_card: string, right_card: string) -%}
{% set left_card = load_data(path=left_card) %}
{% set middle_card = load_data(path=middle_card) %}
{% set right_card = load_data(path=right_card) %}
{% set html -%}

<div class="threecard">

	<!-- Cards Container -->
	<div class="threecard-container">

		<!-- Left Card -->
		<div class="threecard-column">
			<div class="threecard-cardleft">
				<div class="threecard-label">
					<span class="label-prefix">Vision</span>
					<span class="label-number">01</span>
				</div>
				<div class="threecard-cardleft-content">
					<h2>{{ left_card.title }}</h2>
					<div>
						{{ left_card.body | markdown | safe }}
					</div>
				</div>
			</div>
		</div>

		<!-- Middle Card -->
		<div class="threecard-column">
			<div class="threecard-cardmiddle">
				<div class="threecard-label">
					<span class="label-prefix">Vision</span>
					<span class="label-number">02</span>
				</div>
				<div class="threecard-cardmiddle-content">
					<h2>{{ middle_card.title }}</h2>
					<div>
						{{ middle_card.body | markdown | safe }}
					</div>
				</div>
			</div>
		</div>

		<!-- Right Card -->
		<div class="threecard-column">
			<div class="threecard-cardright">
				<div class="threecard-label">
					<span class="label-prefix">Vision</span>
					<span class="label-number">03</span>
				</div>
				<div class="threecard-cardright-content">
					<h2>{{ right_card.title }}</h2>
					<div>
						{{ right_card.body | markdown | safe }}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{%- endset %}
{{- html | replace(from="\n", to=" ") | safe -}}
{%- endcomponent threecard %}
